body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

#banner {
  margin: 0;
  padding: 0px;
  border-bottom: 1px solid #dee2e6;
  min-height: 96px;
  line-height:0
}

#banner img {
  padding: 8px;
  background-color: #12294b;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 96px solid transparent;
  border-left: 45px solid #12294b; /* 45-degree triangle */
  display: inline-block;
}

.banner-title {
  display: inline-block;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 32px;
  font-weight: 700;
  vertical-align:top;
  padding-top: 48px;
  padding-bottom: 48px;
}


#main {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#filters {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  background-color: #fff;
}

.checkbox-venue {
  padding-right: 12px;
  border-radius: 4px;
}

.checkbox-venue:has(.Mui-checked) {
  background-color: #f1f1f1;
}

#filters .material-icons-outlined {

  display: inline-flex;
}

#filters .venue-group {
  text-align: center;
}

#filters .venue-name {
  padding-right: 28px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}

.rbc-month-row {
  height: auto !important;
  overflow: visible !important;
}

.rbc-row-content-scroll-container {
  min-height: 80px;
}

.rbc-event {
  min-height: 91px !important;
}

.loading {
  text-align: center;
  margin-top: 32px;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.error-icon {
  color:#FF3D00;
  font-size: 64px;
}

.rbc-toolbar .rbc-toolbar-label {
  font-weight: 600;
  text-transform: capitalize;
}



#h-menu {
  display: none;
  position: fixed;
  top: 6px;
  right: 10px;
  z-index: 1001;
}

#h-menu .material-icons-outlined {

  font-size: 36px !important;
}

#h-menu:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  #banner {
    min-height: 48px;
    position: fixed;
    top:0px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  #main {
    margin-top: 59px;
  }
  #banner img {
  padding: 4px;
  background-color: #12294b;
  height: 40px;
}
  .triangle {
    border-bottom: 48px solid transparent;
    border-left: 23px solid #12294b; /* 45-degree triangle */
  }
  #filters {
    display: none;
    z-index: 1001;
  }
  #h-menu {
    display: block;
  }

  #h-menu {
  display: block;
}

  .banner-title {
    font-size: 24px;
    vertical-align:top;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #filters.h-menu-open {
    display: block;
    position: fixed;
    top: 49px;
    z-index: 1000;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #filters {
    padding-left: 38px
  }

  .sticky {
    position: fixed;
    z-index: 1002;
    top:0;
    filter: drop-shadow(#8d8d8d 2px -1px 4px);
    width: calc(100% - 48px);
  }

  #main.pushed {
    margin-top: 106px
  }

  .rbc-toolbar .rbc-toolbar-label {
    padding: 0 270px 0 10px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}