body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
  
  background-color: rgb(250, 250, 250);
}

#banner {
  margin: 0;
  padding: 0px;
  border-bottom: 1px solid #dee2e6;
  min-height: 96px;
  line-height:0;
  background-color: #fff;
}

#banner img {
  padding: 8px;
  background-color: #12294b;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 96px solid transparent;
  border-left: 45px solid #12294b; /* 45-degree triangle */
  display: inline-block;
}

.banner-title {
  display: inline-block;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 32px;
  font-weight: 700;
  vertical-align:top;
  padding-top: 48px;
  padding-bottom: 48px;
}


#main {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;  
  background-color: #fff;
}

#filters {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  background-color: #fff;
}

#footer {
  display: flex;
  padding: 8px;
  justify-content: center;
}

#footer .footer-link {
  margin-left: 8px;
  margin-right: 8px;
}

#footer .ext-link {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  background-color: #f1f1f1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.checkbox-venue {
  padding-right: 12px;
  border-radius: 4px;
}

.checkbox-venue:has(.Mui-checked) {
  background-color: #f1f1f1;
}

#filters .material-icons-outlined {

  display: inline-flex;
}

#filters .venue-group {
  text-align: center;
}

#filters .venue-name {
  padding-right: 28px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}

.rbc-month-row {
  height: auto !important;
  overflow: visible !important;
}

.rbc-row-content-scroll-container {
  min-height: 80px;
}

.loading {
  text-align: center;
  margin-top: 32px;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.error-icon {
  color:#FF3D00;
  font-size: 64px;
}

.rbc-toolbar .rbc-toolbar-label {
  font-weight: 600;
  text-transform: capitalize;
}

.rbc-event {
  padding: 0 0 !important;
  display: block;
}

.rbc-event-content {
  color: #333;
  min-height: 91px;
  padding: 2px 5px;
  border-radius: 5px;
}

.venue-blue .rbc-event-content,
.venue-blue .rbc-agenda-event-cell-content {
  border-left: 15px solid #0066cc !important;
  border-top: 1px solid #0066cc;
  border-right: 1px solid #0066cc;
  border-bottom: 1px solid #0066cc;
}

.venue-green .rbc-event-content,
.venue-green .rbc-agenda-event-cell-content {
  border-left: 15px solid #339933 !important;
  border-top: 1px solid #339933;
  border-right: 1px solid #339933;
  border-bottom: 1px solid #339933;
}

.venue-purple .rbc-event-content,
.venue-purple .rbc-agenda-event-cell-content {
  border-left: 15px solid #9900ff !important;
  border-top: 1px solid #9900ff;
  border-right: 1px solid #9900ff;
  border-bottom: 1px solid #9900ff;
}

.venue-red .rbc-event-content,
.venue-red .rbc-agenda-event-cell-content {
  border-left: 15px solid #cc3300 !important;
  border-top: 1px solid #cc3300;
  border-right: 1px solid #cc3300;
  border-bottom: 1px solid #cc3300;
}

.venue-yellow .rbc-event-content,
.venue-yellow .rbc-agenda-event-cell-content {
  border-left: 15px solid #ffc107 !important;
  border-top: 1px solid #ffc107;
  border-right: 1px solid #ffc107;
  border-bottom: 1px solid #ffc107;
}

.venue-default .rbc-event-content,
.venue-default .rbc-agenda-event-cell-content {
  border-left: 15px solid #333 !important;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.event-game .rbc-event-content, .event-game .rbc-agenda-event-cell-content {
  background-color: #fefefe;
}

.event-practice .rbc-event-content, .event-practice .rbc-agenda-event-cell-content {
  background-color: #e6f2ff;
}

.event-timeslot .rbc-event-content, .event-timeslot .rbc-agenda-event-cell-content {
  background-color: #fff2cc;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
}

.rbc-agenda-event-cell-content {
  padding: 5px;
  border-radius: 5px;
  min-height: 91px;
}

.rbc-agenda-date-cell {
  padding: 0 !important;
  min-width: 50px;
}
.agenda-day-name {
  background-color: #dee2e6;
  text-align: center;
  padding: 4px;
}
.agenda-day-number {
  text-align: center;
  font-size: 20px !important;
  font-weight: 600;
}

.agenda-month-name {
  text-align: center;
}

.rbc-agenda-empty {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}
.rbc-agenda-view table.rbc-agenda-table,
.rbc-agenda-event-cell,
.rbc-agenda-view table.rbc-agenda-table tr {
  border: none !important;
}

.rbc-agenda-event-cell {
  padding-top: 0 !important;
  padding-left: 5px !important;
  padding-right: 0 !important;
  padding-bottom: 1px !important;
}

#h-menu {
  display: none;
  position: fixed;
  top: 6px;
  right: 10px;
  z-index: 1001;
}

#h-menu .material-icons-outlined {

  font-size: 36px !important;
}

#h-menu:hover {
  cursor: pointer;
}

.toolbar-nav {
  padding-right: 16px;
  margin-right: 16px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border-right:#dee2e6 1px solid;
}

.toolbar-nav .material-icons-outlined{
    display: inline-flex;
    vertical-align: top;
}

.toolbar-nav Button {
  margin-left: 4px;
  margin-right: 4px;
}

.toolbar-nav-month {
  padding-bottom: 8px;
}

.toolbar-nav-month-icon {
  padding-right: 6px;
}

.toolbar-nav-month-label {
  text-transform: capitalize !important;
}

.rbc-agenda-table tr {
  display: table-row !important;
}

.rbc-agenda-time-cell, .rbc-agenda-table thead {
  display: none;
}

.rbc-agenda-view {
  display: block !important;
}

.rbc-agenda-view {
overflow: inherit !important;
}


@media only screen and (max-width: 768) {

  #footer {
    display: block;
    
  }

  #footer .footer-header {
    margin-bottom: 12px;
  }

  #footer .footer-link {
    margin-left: 0;
    margin-bottom: 12px;
  }
  #footer .ext-link {
    padding-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  #banner {
    min-height: 48px;
    position: fixed;
    top:0px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  #main {
    margin-top: 59px;
  }
  #banner img {
  padding: 4px;
  background-color: #12294b;
  height: 40px;
}
  .triangle {
    border-bottom: 48px solid transparent;
    border-left: 23px solid #12294b; /* 45-degree triangle */
  }
  #filters {
    display: none;
    z-index: 1001;
  }
  #h-menu {
    display: block;
  }

  #h-menu {
  display: block;
}

  .banner-title {
    font-size: 24px;
    vertical-align:top;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #filters.h-menu-open {
    display: block;
    position: fixed;
    top: 49px;
    z-index: 1000;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 993px) {
  #filters {
    padding-left: 38px
  }

  .sticky {
    position: fixed;
    z-index: 1002;
    top:0;
    filter: drop-shadow(#8d8d8d 2px -1px 4px);
    width: calc(100% - 48px);
  }

  #main.pushed {
    margin-top: 106px
  }

  .rbc-toolbar .rbc-toolbar-label {
    padding: 0 270px 0 10px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}